<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Usuarios</title>
</head>
<body>
    <h1>Administrar Usuarios</h1>

    <form id="userForm">
        <label for="userId">ID del Usuario:</label>
        <input type="text" id="userId" name="userId" required>
        
        <label for="role">Nuevo Rol:</label>
        <select id="role" name="role" required>
            <option value="premium">Premium</option>
            <option value="ADMIN">Admin</option>
        </select>

        <button type="button" onclick="changeUserRole()">Cambiar Rol</button>
    </form>

    <div id="result"></div>

    <div>
        <h2>Lista de Usuarios</h2>
        <ul id="userList"></ul>
    </div>
    <form id="deleteUserForm">
        <label for="deleteUserId">ID del Usuario a Borrar:</label>
        <input type="text" id="deleteUserId" name="deleteUserId" required>
        <button type="button" onclick="deleteUser()">Borrar Usuario</button>
    </form>

    <script src="/js/changerol.js"></script>
</body>
</html>
