<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>BIENVENIDO AL CHAT</h1>

    <form id="formularioChat">
        <input id="usuario" type="text" placeholder="Usuario" required>
        <input id="message" type="text" placeholder="Mensaje" required>
        <button type="submit">Enviar</button>
    </form>


    <div id="chat">
        <ul id="messages">
            {{#each messages}}
            <li>{{this.usuario}}: {{this.message}}</li>
            {{/each}}
        </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>    
