<!DOCTYPE html>
<html>

<head>
    <title>Detalles de la Compra</title>
</head>

<body>
    <h1>Detalles de la Compra</h1>
    <p>ID del Ticket: {{ticket._doc._id}}</p>
    <p>Fecha y Hora de la Compra: {{ticket._doc.purchase_datetime}}</p>
    <p>Mensaje: Su compra se efectuó correctamente. ¡Gracias por comprar!</p>

    <a href="/products">Volver a la Página Principal</a>
    <script src="/js/index.js"></script>

</body>

</html>

